* {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.App {
  display: grid;
  text-align: center;
  background-color: #6297ff;
  width: 100vw;
  height: 100vh;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;

}
button {
  width: 7rem;
  height: 3rem;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}
h1 {
  color: #000a64;
  font-size: 70px;
}
h2 {
  color: #000a64;
  font-size: 60px;
}